.work {
  display: flex;
  flex-direction: column;
}

.work__title {
  margin-top: 6px;
  margin-bottom: 6px;
}

.work__year {
  margin: 0;
}

.work__image {
  margin-bottom: 12px;
  width: 100%;
  object-fit: contain;
}
